.comment-select-group,
.comment-select-group .select-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.comment-select-group {
    width: 100%;
}

.comment-select-group .select-input {
    gap: 0;
    position: relative;
    background-color: var(--control-bg);
    flex: 0 0 16rem;
    padding: 0;
}

#visibility {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none !important;
    width: 100%;
    outline: none;
    padding: 0 0.5rem;
}
.visibility-info {
    margin-left: 0.5rem;
}

.timeline-comment {
    background: white;
    padding: 0.75rem 1rem;
    margin-bottom: 0;
}

.comment-select-group .select-icon {
    position: absolute;
    right: 0.5rem;
}
